{% extends 'index.html' %}
{% block pageContent %}
    {% if nomina_list %}
        <h2 class="mt-3">Registro De Nomina</h2>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'nomina:inicio' %}">SEUNICSA</a></li>
            <li class="breadcrumb-item active">Nomina</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                Agregar un nuevo registro al sistema de nomina <strong>SEUNICSA</strong>
                <div class=" py-3">
                    <a href="{% url 'nomina:preliminar_create' %}" class="btn btn-primary"><i
                            class="fas fa-plus-circle"></i> Agregar</a>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Datos De Nomina
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th scope="col">nombre</th>
                            <th scope="col">cargo </th>
                            <th scope="col">Campaña</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th scope="col">nombre</th>
                            <th scope="col">cargo </th>
                            <th scope="col">Dias</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for nomina in nomina_list %}
                            <tr>
                                <td>{{ nomina.personal }}
                                <td>{{ nomina.cargo  }}</td>
                                <td>{{ nomina.campania  }}</td>
                                <td>
                                    <a href="{% url 'nomina:nomina_update' nomina.id %}" class="btn btn-success btn-circle btn-sm">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="{% url 'nomina:nomina_delete' nomina.id %}" class="btn btn-danger btn-circle btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                    <a href="{% url 'nomina:nomina_detail' nomina.id %}" class="btn btn-primary btn-circle btn-sm">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>  
        
    {% else %}
        <h1 class="mt-4">Registro De Nomina</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'nomina:inicio' %}">SEUNICSA</a></li>
            <li class="breadcrumb-item active">Nomina</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                Agregar un nuevo registro al sistema de nomina <strong>SEUNICSA</strong>
                <div class=" py-3">
                    <a href="{% url 'nomina:preliminar_create' %}" class="btn btn-primary"><i
                            class="fas fa-plus-circle"></i> Agregar</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}


