{% extends 'index.html' %}
{% block pageContent %}
    {% if asistencia_list %}
        <h2 class="mt-3">Registro De Asistencia</h2>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'nomina:inicio' %}">SEUNICSA</a></li>
            <li class="breadcrumb-item active">Asistencia</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                Agregar un nuevo registro al sistema de nomina <strong>SEUNICSA</strong>
                <div class=" py-3">
                    <a href="{% url 'nomina:asistencia_create' %}" class="btn btn-primary"><i
                            class="fas fa-plus-circle"></i> Agregar</a>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Registro De Asistencia
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Campaña</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Fecha</th>
                        {% if user.is_superuser %}
                            <th scope="col">Acciones</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Campaña</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Fecha</th>
                        {% if user.is_superuser %}
                            <th scope="col">Acciones</th>
                        {% endif %}
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for asistencia in asistencia_list %}
                        <tr>
                            <td>{{ asistencia.personal }}</td>
                            <td>{{ asistencia.campania }}</td>
                            <td>{{ asistencia.cargo }}</td>
                            <td>{{ asistencia.fecha }}</td>
                            {% if user.is_superuser %}
                                <td>
                                    <a href="{% url 'nomina:asistencia_update' asistencia.id %}"
                                    class="btn btn-success btn-circle btn-sm">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="{% url 'nomina:asistencia_delete' asistencia.id %}"
                                    class="btn btn-danger btn-circle btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h1 class="mt-4">Registro De Asistencia</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'nomina:inicio' %}">SEUNICSA</a></li>
            <li class="breadcrumb-item active">Asistencia</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                Agregar un nuevo registro al sistema de nomina <strong>SEUNICSA</strong>
                <div class=" py-3">
                    <a href="{% url 'nomina:asistencia_create' %}" class="btn btn-primary"><i
                            class="fas fa-plus-circle"></i> Agregar</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}